/* body {
  background-color: whitesmoke;
}

.box {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@keyframes randomColor {
  0% {
    background-color: red;
  }
  10% {
    background-color: blue;
  }
  20% {
    background-color: green;
  }
  30% {
    background-color: yellow;
  }
  40% {
    background-color: violet;
  }
  50% {
    background-color: purple;
  }
  60% {
    background-color: brown;
  }
  70% {
    background-color: orange;
  }
  80% {
    background-color: wheat;
  }
  90% {
    background-color: gold;
  }
  100% {
    background-color: silver;
  }
}
.item {
  margin: 5px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px;
  cursor: pointer;
}

.active {
  animation: randomColor 2s ease-in 0s infinite;
} */
/* input {
  outline: none;
  border: 1px solid blue;
} */
/* body {
  &.
} */
/* .block {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(123, 117, 117);
  max-width: 600px;
  border-radius: 20px;
  padding: 30px 15px;
  box-shadow: 1px 1px 1px;
}
.age {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  .gray {
    color: gray;
  }
} */
/* button {
  width: 150px;
  background-color: blue;
  border-radius: 10px;
  padding: 10px;
}
form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
h1 {
  font-weight: bolder;
}
.item {
  border-radius: 10px;
  border: 1px solid blue;
  height: 60px;
  max-width: 400px;
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: whitesmoke;
}
.box {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
} */
* {
  font-family: "Gilroy";
}
h1 {
  font-size: 34px;
}
.container {
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header button {
  font-size: 15px;
  cursor: pointer;
  font-weight: bolder;
  background-color: transparent;
  padding: 15px 30px;
  border-radius: 10px;
}
.btns {
  display: flex;
}
.box {
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 30px;
}
img {
  width: 130px;
  height: 130px;
}
.item {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  border: 1px solid black;
  text-align: center;
}
.imgBox {
  background-color: white;
  width: 100%;
}
.item button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: white;
  padding: 10px;
  max-width: 250px;
  width: 100%;
  margin-bottom: 10px;
}
.itemInfo {
  padding: 10px;
}
.modal {
  transition: 2s;
  width: 33%;
  height: 143%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color:rgb(187, 187, 187,0.5);
}